:root {
    --color-black: black;
    --color-cool-gray: #8D909B;
    --color-platinum: #D9D7DD;
    --color-darker-drab-dark-brown: #3D3522;
    --color-drab-dark-brown: #4A442D;
    --color-beer-stout-brown: #4C2812;
    --color-beer-foam-brown: #A17244;
    --color-beer-foam-cream: #F1D1B8;
    --color-dark-green: #172815;
    --color-dark-moss-green: #3E5622;
    --color-keppel: #58B09C;
    --color-mindaro: #C5D86D;
    --color-Nyanza: #CAF7E2;
    --color-ultra-violet: #6C698D;
    --color-pale-dogwood: #D3C1C3;
    --color-red: red;
    --color-coquelicot: #F15025;
    --color-vanilla: #FEFCAD;
    --color-white: white;

    --background-color-linear-gradient-beer: linear-gradient(var(--color-vanilla), var(--color-beer-foam-cream), var(--color-beer-foam-brown), var(--color-beer-stout-brown));
    --background-color-linear-gradient-beer-vertical: linear-gradient(0.25turn, var(--color-vanilla), var(--color-beer-foam-cream), var(--color-beer-foam-brown), var(--color-beer-stout-brown));
    --text-shadow-black: 1px 1px 1px var(--color-black), -1px -1px 1px var(--color-black);
    --text-shadow-black-cream: 1px 1px 1px var(--color-black), -1px -1px 1px var(--color-beer-foam-cream);
    --text-shadow-black-cream-thin: 0.5px 0.5px 1px var(--color-black), -0.5px -0.5px 1px var(--color-beer-foam-cream);

    --box-shadow-color-ultra-violet: 1px 1px 5px var(--color-ultra-violet);
    --box-shadow-color-coquelicot: 1px 1px 5px var(--color-coquelicot);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color-linear-gradient-beer);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    margin: 10px 0;

}

header nav a {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    text-align: right;
    color: var(--color-coquelicot);
    padding: 10px;
}

header nav a:hover {
    color: var(--color-coquelicot);
}

.hidden {
    display: none !important;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 335px;
    background: var(--color-vanilla);
    color: var(--color-beer-foam-brown);
    margin: 10px;
    padding: 10px;
}

.card:hover {
    box-shadow: var(--box-shadow-color-coquelicot);
    color: var(--color-beer-stout-brown);
}

.card-header-title {
    color: var(--color-beer-foam-brown);
    font-size: 1.5em;
}

.card-header-title:hover {
    color: var(--color-beer-stout-brown);
    cursor: pointer;
}

.content-container-trivia-q{
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
    justify-content: center;
    align-items: center;
    background-color: #FEFCAD;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid var(--color-beer-stout-brown);
    padding: 25px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    gap: 10px;
}

#header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--background-color-linear-gradient-beer-vertical);
    padding: 20px 0 10px 0;
}


#header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    text-align: center;
    color: var(--color-beer-stout-brown);
    text-shadow: var(--text-shadow-black-cream);
    
}

#header h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    color: var(--color-white);
    text-shadow: var(--text-shadow-black-cream);
}
#navbar-div{
    margin-right: 15%;
}
#brew-navbar-div{
    margin-right: 15%;
}
#brew-nav-bar-btn{
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream); 
    padding-right: 10px;
}
#trivia-nav-bar-btn{
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream); 
    padding-right: 10px;
}
@keyframes glowing {
    0% {
      background-color: var(--color-coquelicot);
      box-shadow: 0 0 5px var(--color-coquelicot);
    }
    50% {
      background-color: var(--color-vanilla);
      box-shadow: 0 0 20px var(--color-vanilla);
    }
    100% {
      background-color: var(--color-coquelicot);
      box-shadow: 0 0 5px var(--color-coquelicot);
    }
}

.glow {
    animation: glowing 1300ms infinite;
}
#correct-answer-btn{
    justify-items: center;
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream); 
}
#next-question-btn{
    justify-items: center;
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream); 
}
#trivia-dropdown-choice{
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);  
}
#trivia-question{
    text-align:left;
    color: var(--text-shadow-black);
    padding: 8px;
    margin-bottom: 10px;
}
#trivia-nav-button a{
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);  
}
#correct-answer-container{
    padding: 20px;
}
#correct-answer{
    padding: 10px;
    text-align: left;
    
}
#play-btn{
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);  
}
#search-container-id {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

#dropdown-choice {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);   
}


#trivia-dropdown-choice:hover {
    background-color: var(--color-vanilla);
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}
#dropdown-choice:hover {
    background-color: var(--color-vanilla);
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-beer-foam-cream);
}

#search-bar:hover {
    box-shadow: var(--box-shadow-color-ultra-violet);
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
    font-weight: 700;
}

#search-button:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

#content-container-search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex: 1 1 335px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#content-container-no-results {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    font-weight: 500;
}

#content-container-no-results p {
    line-height: 2em;
}

#content-container-no-results ul {
    padding-left: 30px;
    list-style-type: circle;
}

#content-container-no-results img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
  }

#content-container-error {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-container-error img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

#pagination-id {
    padding: 1.5rem;
}

#pagination-previous-id {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
    font-weight: 700;
}

#pagination-previous-id:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

#pagination-next-id {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
    font-weight: 700;
}

#pagination-next-id:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

.pagination-link {
    background-color: var(--color-platinum);
}

#current-pagination-id {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
}

#current-pagination-id:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
    box-shadow: var(--box-shadow-color-coquelicot);
}

#footer {
    background: var(--background-color-linear-gradient-beer-vertical);
    color: var(--color-coquelicot);
    text-shadow: var(--text-shadow-black-cream-thin);
    letter-spacing: 1px;
}

#modal-head-id {
    background: var(--color-beer-foam-cream);
    color: var(--color-beer-stout-brown);
}

#modal-title-id {
    color: var(--color-beer-stout-brown);
    font-size: 1.5em;
}

#modal-close {
    background-color: var(--color-beer-stout-brown);
}

#modal-body-id {
    background-color: var(--color-beer-foam-brown);
    color: var(--color-beer-stout-brown);
}

#modal-foot-id {
    background-color: var(--color-beer-stout-brown);
}

#modal-prev-btn {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
}

#modal-prev-btn:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

#modal-next-btn {
    background-color: var(--color-coquelicot);
    color: var(--color-beer-foam-cream);
}

#modal-next-btn:hover {
    color: var(--color-beer-foam-brown);
    border: 1px solid var(--color-beer-stout-brown);
}

@media screen and (max-width: 768px){
    #content-container-search-results {
        flex-direction: column;
    }
}